/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure dark mode works */
html.dark {
  color-scheme: dark;
}

:root {
  --font-noto-sans: 'Noto Sans', sans-serif;
}

body {
  font-family: var(--font-noto-sans), sans-serif;
}